#sidebar-wrapper {
	z-index: 1;
	position: absolute;
	width: 0px;
	height: 100%;
	overflow-y: hidden;
	background-color: #2c3e99;
	/*border: 2px solid red;*/
	opacity: 0.9;
}

#wrapper.menuDisplayed #sidebar-wrapper {
	width: 250px;
}

.sidebar-nav {
	padding: 0;
	list-style: none;
}

.sidebar-nav {
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #ddd;
}

.sidebar-nav li a:hover {
	background: #16a085;
}