#page-content-wrapper {
	width: 100%;
	position: absolute;
	/*border: 2px solid green;*/
	padding-left: 0px;
}

#page-content {
	padding: 15px;
}

#wrapper.menuDisplayed #page-content-wrapper {
	padding-left: 250px;
}