<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
              <li><a href="#">Li 1</a></li>
              <li><a href="#">Li 2</a></li>
              <li><a href="#">Li 3</a></li>
        </ul>
    </div>

    <!-- Main --> 
    <div id="page-content-wrapper">
        <%= render "layouts/navbar" %>
        <div id="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <a href="#" class="btn btn-success" id="menu-toggle">Toggle Menu</a>
                        <h1>Header</h1>
                        <p>Lorem ipsum</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>